[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
spiffworkflow = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
swagger-ui-bundle = "*"
flask = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-httpauth = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-restful = "*"
httpretty = "*"
marshmallow = "*"
marshmallow-enum = "*"
marshmallow-sqlalchemy = "*"
openpyxl = "*"
pyjwt = "*"
requests = "*"
xlsxwriter = "*"

[requires]
python_version = "3.6"
