alabaster==0.7.16
alembic==1.14.0
amqp==5.2.0
aniso8601==9.0.1
apscheduler==3.10.4
attrs==24.2.0
babel==2.16.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
billiard==4.2.1
blinker==1.8.2
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
clickclick==20.10.2
commonmark==0.9.1
configparser==7.1.0
connexion==2.14.2
coverage==7.6.4
cryptography==43.0.3
dateparser==1.2.0
deprecated==1.2.14
docutils==0.21.2
docxcompose==1.4.0
docxtpl==0.18.0
et-xmlfile==2.0.0
flask==2.2.5
flask-admin==1.6.1
flask-bcrypt==1.0.1
flask-cors==5.0.0
flask-mail==0.10.0
flask-marshmallow==1.2.1
flask-migrate==4.0.7
flask-restful==0.3.10
flask-sqlalchemy==3.0.5
gitdb==4.0.11
gitpython==3.1.43
gunicorn==23.0.0
httpretty==1.1.4
idna==3.10
imagesize==1.4.1
importlib-metadata==8.5.0
inflection==0.5.1
itsdangerous==2.2.0
jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kombu==5.4.2
ldap3==2.9.1
lxml==5.3.0
mako==1.3.6
markdown==3.7
markupsafe==3.0.2
marshmallow==3.23.1
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==1.1.0
numpy==1.23.4
openpyxl==3.1.5
packaging==24.1
pandas==1.5.1
prompt-toolkit==3.0.48
psycopg2-binary==2.9.10
pyasn1==0.6.1
pycparser==2.22
pygithub==2.4.0
pygments==2.18.0
pyjwt==2.9.0
pynacl==1.5.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2024.2
pyyaml==6.0.2
recommonmark==0.7.1
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
rpds-py==0.21.0
sentry-sdk==2.8.0
setuptools==75.3.0
six==1.16.0
smmap==5.0.1
snowballstemmer==2.2.0
soupsieve==2.6
sphinx==7.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spiffworkflow
sqlalchemy==1.4.54
swagger-ui-bundle==0.0.9
tomli==2.0.2
typing-extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.3
vine==5.1.0
waitress==3.0.1
wcwidth==0.2.13
webob==1.8.9
webtest==3.0.1
werkzeug==3.0.6
wrapt==1.16.0
wtforms==3.2.1
xlrd==2.0.1
xlsxwriter==3.2.0
zipp==3.20.2
