version: "3.7"
services:
  db:
    image: postgres
    volumes:
      - ./pg-init-scripts/initdb.sh:/docker-entrypoint-initdb.d/initdb.sh
      - $HOME/docker/volumes/postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_MULTIPLE_DATABASES=crc_dev,crc_test,pb,pb_test
